@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  overflow-x: hidden;
  justify-content: center;
}

html,
body {
  height: 100%;
}

a {
  font-weight: bold;
  color: #eeeeee;
}

body {
  
  background-color: #262636;
  display: flex;
  flex-direction: column;
  color: #eeeeee;
  align-items: center;
}

.header {
    display: flex;
    background-color: #747484;
    justify-content: space-between;
    width: 100vw;
    padding-top: 32px;
    align-items: center;
    padding: 10px 80px 10px 50px;
    font-family: "Galano Grotesque", Poppins, Montserrat, sans-serif;
}

.logo {
  width: 80px;
}

.logoBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menuNav {
  width: 65%;
  display: flex;
  justify-content: center;
}

.menuList {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
}

.menuItem {
  list-style: none;
  font-size: 1.7rem;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
}

.mainContainer {
  display: flex;
  padding: 58px 80px 100px 50px;
  justify-content: center;

  flex: 1;
  position: relative;
}

.mapDescriptionSection {
  width: 80%;
  animation: fadeInParagraph 1s ease-in-out;
}

.mapDescriptionSectionRight {
  width: 40%;
  height: 500px;
  animation: fadeInShape 1s ease-in-out;

  width: 1080px;
  height: 500px;
  background-image: url('../src/shapebxd_resized.png');
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  right: -730px;
  top: -52px;
}

.titleContainer {
  display: flex;
  height: 100%;
  flex-direction: column;
  /* justify-content: space-evenly; */
  gap: 24px;
}

.descTitle {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  /* animation: fadeInTitle 1s ease-in-out; */
}

.descSubTitle {
  font-family: 'Montserrat', sans-serif;
  /* animation: fadeInTitle 1s ease-in-out; */
}

.descParagraph {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  text-align: justify;
  /* animation: fadeInParagraph 1s ease-in-out; */
}

.buttonDescription {
  height: 64px;
  width: 192px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.buttonLink:hover {
  /* transform: scale(1.03); */
  opacity: 80%;
}

.buttonLink {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  color: #262636;
  height: 64px;
  width: 192px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
}

.footer {
  /* height: 30vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 64px 0 40px 0;
  width: 100%;
  /* border-top: 2px solid; */
}

.footerTitle {
  margin-bottom: 16px;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.8rem;
}

.footerContatcsList {
  display: flex;
  justify-content: space-evenly;
  width: 45%;
  list-style: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
}

.footerContatcsList li:hover {
  cursor: pointer;
  opacity: 80%;
}

.footerContatcsLink {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  gap: 8px;
  text-decoration: none;
  font-size: 1.1rem;
}

.footerContatcsLink a {
  font-size: 1.1rem;
}

.footerContatcsLogo {
  width: 24px;
  height: 24px;
}

.footerText {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8rem;
  margin-top: 40px;
}

@keyframes fadeInParagraph {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes fadeInShape {
  from {
    opacity: 0;
    transform: translateX(100px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes fadeInDescriptionMobile {
  from {
    opacity: 0;
    transform: translateY(100px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fadeInHeaderMobile {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@media (max-width: 1200px) {
  body {
    width: 360px;
    min-width: 360px;
  }

  .header {
    padding: 0;
    padding-top: 8px;
    margin-bottom: 24px;
    animation: fadeInHeaderMobile 0.5s ease-in-out;
  }

  .mainContainer {
    padding: 0;
    display: block;
  }

  .mapDescriptionSection {
    width: 100%;
    animation: fadeInDescriptionMobile 0.5s ease-in-out;
  }

  .mapDescriptionSectionRight {
    display: none;
  }

  .buttonLink {
    width: 100%;
    border-radius: 16px;
  }

  .footerContatcsList {
    width: revert;
    gap: 16px;
    justify-content: revert;
  }

  .footerText {
    text-align: center;
  }
}


.header_secundaria{
    display: flex;
    justify-content: center;
    padding: 30px;
    width: 100vw;
    margin-bottom: 10px;
}
.img_header{
    width: 65px;
    
}

/* Estilo do modal (popup) */
.modal {
    display: none; /* Oculto por padrão */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4); /* Fundo escuro com transparência */
  }
  
  .modal-content {

    margin: 15% auto;
    padding: 20px;
    
    width: 40%; /* Largura do modal */
    border-radius: 10px;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  .close_div{
    width: 100%;
  }
  .docs{
    width: 100%;
    min-height: 100%;  
    margin-top: 5px;
    display: flex;    
  }
  .docs_menu{
    width: 20%;
    background-color: #747484;
    height:100% ;
    align-items: center;

  }
  .tabela{
    
    flex-direction: column;

  }
  .docs_menu .item{
    font-size: 25px;
    padding: 12.5px;
  }


  /* From Uiverse.io by Na3ar-17 */ 
.container * {
  padding: 0;
  margin: 0;
}

.card {
  width: 480px;
  height: 230px;
  background-color: #1e293b;
  border-radius: 10px;
  display: grid;
  grid-template-rows: 40px 1fr;
}

.card .header {
  display: flex;
  align-items: center;
  position: relative;
}

.card .header .title {
  color: #7dd3fc;
  font-size: 13px;
  padding: 2px 12px;
}

.card .header .copy {
  position: absolute;
  background: transparent;
  border: none;
  top: 61%;
  right: 1px;
  transform: translate(-50%, -50%);
  color: rgb(100, 116, 139);
  cursor: pointer;
  transition: all 0.3s ease;
  z-index: 100;
}

.card .header .copy:hover {
  color: rgb(148, 163, 184);
}

.card .header::before {
  content: "";
  position: absolute;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: 1px solid #64748b4d;
  right: 1px;
  bottom: 0;
  background-color: #33415580;
  width: 282px;
  height: 33px;
  z-index: 100;
}

.card .header::after {
  content: "";
  position: absolute;
  width: 22%;
  height: 1px;
  background-color: #7dd3fc;
  bottom: 0;
}

.card .footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  padding-left: 10px;
}

.card .footer .code {
  display: flex;
  align-items: center;
}

.card .footer .code .icon {
  color: rgb(244, 114, 182);
  padding-top: 3px;
}

.card .footer .code .text {
  padding-left: 3px;
  color: #f8fafc;
}

/* From Uiverse.io by ilkhoeri */ 
.card {
    padding: 1rem;
    overflow: hidden;
    border: 1px solid #c5c5c5;
    border-radius: 12px;
    background-color: #d9d9d92f;
    backdrop-filter: blur(8px);
    min-width: 344px;
  }
  .wrap {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
    z-index: 10;
    border: 0.5px solid #525252;
    height: 115px;
    border-radius: 8px;
    overflow: hidden;
  }
  .terminal {
    display: flex;
    flex-direction: column;
  
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
      "Liberation Mono", "Courier New", monospace;
  }
  .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    min-height: 40px;
    padding-inline: 12px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: #202425;
  }
  .title {
    display: flex;
    align-items: center;
    gap: 8px;
    height: 2.5rem;
    user-select: none;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #8e8e8e;
  }
  .title > svg {
    height: 18px;
    width: 18px;
    margin-top: 2px;
    color: #006adc;
  }
  .copy_toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.25rem;
    border: 0.65px solid #c1c2c5;
    margin-left: auto;
    border-radius: 6px;
    background-color: #202425;
    color: #8e8e8e;
    cursor: pointer;
  }
  .copy_toggle > svg {
    width: 20px;
    height: 20px;
  }
  .copy_toggle:active > svg > path,
  .copy_toggle:focus-within > svg > path {
    animation: clipboard-check 500ms linear forwards;
  }
  .body {
    display: flex;
    flex-direction: column;
    position: relative;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    overflow-x: auto;
    padding: 1rem;
    line-height: 19px;
    color: white;
    background-color: black;
    white-space: nowrap;
  }
  .pre {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-wrap: nowrap;
    white-space: pre;
    background-color: transparent;
    overflow: hidden;
    box-sizing: border-box;
    font-size: 16px;
  }
  .pre code:nth-child(1) {
    color: #575757;
  }
  .pre code:nth-child(2) {
    color: #e34ba9;
  }
  .cmd {
    height: 19px;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  .cmd::before {
    content: attr(data-cmd);
    position: relative;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    background-color: transparent;
    animation: inputs 8s steps(22) infinite;
  }
  .cmd::after {
    content: "";
    position: relative;
    display: block;
    height: 100%;
    overflow: hidden;
    background-color: transparent;
    border-right: 0.15em solid #e34ba9;
    animation: cursor 0.5s step-end infinite alternate, blinking 0.5s infinite;
  }
  
  @keyframes blinking {
    20%,
    80% {
      transform: scaleY(1);
    }
    50% {
      transform: scaleY(0);
    }
  }
  @keyframes cursor {
    50% {
      border-right-color: transparent;
    }
  }
  @keyframes inputs {
    0%,
    100% {
      width: 0;
    }
    10%,
    90% {
      width: 58px;
    }
    30%,
    70% {
      width: 215px;
      max-width: max-content;
    }
  }
  @keyframes clipboard-check {
    100% {
      color: #fff;
      d: path(
        "M 9 5 H 7 a 2 2 0 0 0 -2 2 v 12 a 2 2 0 0 0 2 2 h 10 a 2 2 0 0 0 2 -2 V 7 a 2 2 0 0 0 -2 -2 h -2 M 9 5 a 2 2 0 0 0 2 2 h 2 a 2 2 0 0 0 2 -2 M 9 5 a 2 2 0 0 1 2 -2 h 2 a 2 2 0 0 1 2 2 m -6 9 l 2 2 l 4 -4"
      );
    }
  }
  
  .docs_desc{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .docs_desc .card{
    width: 50%;
  }